<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<title>Pay My Buddy</title>

<style>
	body {
		padding-top: 50px;
	}
	.special {
		padding-top:50px;
	}
</style>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href=".">Système de transfert d'argent</a>
				<a th:href="@{/}">Home</a>
     | &nbsp;
   <a th:href="@{/sendMoney}">Transfer</a> 
     | &nbsp;
   <a th:href="@{/sendMoney}">Profile</a> 
        | &nbsp;
   <a th:href="@{/sendMoney}">Contact</a> 
        | &nbsp;
   <a th:href="@{/sendMoney}">Log off</a> 
			</div>
		</div>
	</nav>


	<div class="container special">
		<h2 class="h2">Send Money</h2>
		<div class="table-responsive">

		</div>
<!--		<h4><a th:href="@{/createEmployee}">Ajouter un nouvel employée</a></h4> -->

        <p><a th:href="@{/updateEmployee}"><button class="btn btn-info">Pay</button></a></p>
        <p><a th:href="@{/updateEmployee}"><button class="btn btn-info">Add Connection</button></a></p>
	</div>


	<div class="container special">
		<h2 class="h2">My Transfers</h2>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Connections</th>
						<th>Description</th>
						<th>Amount</th>
					</tr>
				</thead>
				<tbody>
                <tr th:if="${account.transfers.empty}"> 
                    <td colspan="3">Aucune transaction en base de données</td> 
                </tr> 
                <tr th:each="transfer: ${account.transfers}">  
                    <td><span th:text="${transfer.creditedAccount.accountOwner.firstName}"> Connections </span></td>
                    <td><span th:text="${transfer.description}"> Description </span></td> 
                    <td><span th:text="${transfer.amount}"> Amount </span></td> 
                </tr> 
				</tbody>
			</table>
		</div>
<!--		<h4><a th:href="@{/createEmployee}">Ajouter un nouvel employée</a></h4> -->

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
</body>
</html>